* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px;
}

.navbar input[type="button"] {
  font-size: 1em;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

.navbar input[type="button"]:hover {
  background-color: #45a049;
}


.question {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px 6px;

}

.questionInfo {
  font-size: 20px;
  font-weight: bold;

  > textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0;
  }

  #questionPoints {
    width: 100px;
    height: 30px;
    padding: 10px;
  }

  > .rightAlign {
    float: right;
  }
}

.questionOptions {
  background-color: aliceblue;

  .option {
    display: flex;
    flex-direction: row;
    padding: 2px;

    .optionText {
      width: 100%;
    }
  }

}

.optionText {
  width: 90%;
}

.addQuestion {
  margin: 10px;
  padding: 10px 6px;
}

#addQuestionButton {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
}